@charset "UTF-8";

table#tblorder_map_List {
	width: 95%;
   	/* border: solid gray 1px; */
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
                   
table#tblorder_map_List th {border: solid gray 1px;}
table#tblorder_map_List td {border: dotted gray 1px;} 

/* 모달관련 CSS 시작 */
table#personInfoTbl {
   border: 0px solid gray;
   border-collapse: collapse;
   width: 90%;
   margin-top: 3%;
}

table#personInfoTbl tr {
   line-height: 200%;
}

table#personInfoTbl td {
   border: 0px solid gray;
   border-collapse: collapse;
   font-size: 14pt;
}

table#personInfoTbl td.title {
   text-align: justify;
   font-size: 14pt;
   font-weight: bold;
}
/* 모달관련 CSS 끝 */