<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSPServletBegin_tomcat9</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>01_getMethod</servlet-name>
    <servlet-class>chap02.GetMethod_01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>01_getMethod</servlet-name>
    <url-pattern>/01_getMethod.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>02_postMethod.do</servlet-name>
    <servlet-class>chap02.PostMethod_02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>02_postMethod.do</servlet-name>
    <url-pattern>/02_postMethod.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>03_get_post_Method</servlet-name>
    <servlet-class>chap02.Get_Post_Method_03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>03_get_post_Method</servlet-name>
    <url-pattern>/03_get_post_Method.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>04_get_post_Method</servlet-name>
    <servlet-class>chap02.Get_Post_Method_04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>04_get_post_Method</servlet-name>
    <url-pattern>/04_get_post_Method.do</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>setCharacterEncoding</filter-name>
  	<filter-class>my.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>setCharacterEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>